{{/* Simple search form - no JavaScript required */}}
<form class="nav-search-form" action="/search/" method="get">
  <div class="nav-search-wrapper">
    <input type="search" 
           name="q" 
           placeholder="Search..." 
           class="nav-search-input"
           autocomplete="off"
           {{ if .Site.Params.search }}
           value="{{ .Site.Params.search.query | default "" }}"
           {{ end }}>
    <button type="submit" class="nav-search-button" aria-label="Search">
      <svg class="nav-search-icon" viewBox="0 0 24 24">
        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
      </svg>
    </button>
  </div>
</form>