{{/* layouts/partials/get-breadcrumbs.html */}}

{{- /* Initialize a crumbs slice in page Scratch */ -}}
{{- $.Scratch.Set "crumbs" (slice) -}}

{{- /* Walk up at most 10 levels */ -}}
{{- $p := . -}}
{{- range seq 1 10 -}}
  {{- if not $p -}}
    {{- /* once we hit the top, stop looping */ -}}
    {{- break -}}
  {{- end -}}
  {{- /* prepend current page to crumbs */ -}}
  {{- $.Scratch.Set "crumbs" (append ($.Scratch.Get "crumbs") $p) -}}
  {{- /* go to parent */ -}}
  {{- $p = $p.Parent -}}
{{- end -}}