# Git
.git
.gitignore

# Hugo
public/
resources/
.hugo_build.lock

# Node
node_modules/
npm-debug.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Deployment
deploy/
*.nomad
*.tf