<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  {{/* Title and Meta Tags */}}
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="keywords" content="{{ range .Site.Params.keywords }}{{ . }}, {{ end }}{{ range .Params.tags }}{{ . }}, {{ end }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  
  {{/* Canonical URL */}}
  <link rel="canonical" href="{{ .Permalink }}">
  
  {{/* Favicon */}}
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="/favicon.png">
  
  {{/* Progressive Web App */}}
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#0ca678">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
  
  {{/* RSS Feed */}}
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  
  {{/* JSON Search Index */}}
  {{ with .OutputFormats.Get "JSON" -}}
    <link rel="alternate" type="application/json" href="{{ .Permalink }}" title="{{ $.Site.Title }} Search Index">
  {{ end -}}
  
  {{/* OpenGraph Tags */}}
  <meta property="og:title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  {{ with .Site.Params.images }}<meta property="og:image" content="{{ index . 0 | absURL }}">{{ end }}
  
  {{/* Twitter Card */}}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ .Site.Params.twitter_site }}">
  <meta name="twitter:title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ with .Site.Params.images }}<meta name="twitter:image" content="{{ index . 0 | absURL }}">{{ end }}
  
  {{/* Schema.org JSON-LD */}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{ .Site.Params.business_name }}",
    "url": "{{ .Site.BaseURL }}",
    "logo": "{{ .Site.BaseURL }}favicon.png",
    "description": "{{ .Site.Params.description }}",
    "telephone": "{{ .Site.Params.phone }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ .Site.Params.address_locality }}",
      "addressRegion": "{{ .Site.Params.address_region }}",
      "addressCountry": "{{ .Site.Params.address_country }}",
      "postalCode": "{{ .Site.Params.postal_code }}"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "{{ index (split .Site.Params.geo_position ";") 0 }}",
      "longitude": "{{ index (split .Site.Params.geo_position ";") 1 }}"
    },
    "sameAs": [
      "{{ .Site.Params.social.github }}",
      "{{ .Site.Params.social.facebook }}",
      "{{ .Site.Params.social.linkedin }}"
    ]
  }
  </script>
  
  {{/* Local font loading - all fonts served from /static/fonts/ */}}
  {{/* Font preloading for critical fonts */}}
  <link rel="preload" href="/fonts/Noto_Sans/static/NotoSans-Regular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="/fonts/Inter/static/Inter_18pt-Regular.ttf" as="font" type="font/ttf" crossorigin>
  
  {{/* CSS Assets */}}
  {{ $sassOptions := (dict "targetPath" "css/main.css" "outputStyle" "compressed") }}
  {{ if resources.Get "main.scss" }}
  {{ $css := resources.Get "main.scss" | css.Sass $sassOptions | resources.Minify }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" media="all">
  {{ else if resources.Get "css/main.css" }}
  {{ $css := resources.Get "css/main.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" media="all">
  {{ end }}
  
  {{/* Umami Analytics */}}
  {{ if .Site.Params.umami_script }}
  <script async defer data-website-id="{{ .Site.Params.umami_site_id }}" src="{{ .Site.Params.umami_script }}"></script>
  {{ end }}
  
  {{/* SEO and Geographic Meta */}}
  <meta name="geo.region" content="{{ .Site.Params.geo_region }}">
  <meta name="geo.placename" content="{{ .Site.Params.geo_placename }}">
  <meta name="geo.position" content="{{ .Site.Params.geo_position }}">
  <meta name="ICBM" content="{{ .Site.Params.ICBM }}">
  
  {{/* Robots */}}
  {{ if eq .Kind "404" }}
  <meta name="robots" content="noindex, nofollow">
  {{ else if .Params.noindex }}
  <meta name="robots" content="noindex, follow">
  {{ else }}
  <meta name="robots" content="index, follow">
  {{ end }}
</head>

<body class="site">
  
  {{/* Site Header with Navigation */}}
  {{ partial "navigation/simple-hugo" . }}
  
  {{/* Main Content Area */}}
  <main class="site-main" role="main">
    {{ block "main" . }}{{ end }}
  </main>
  
  {{/* Site Footer */}}
  {{ partial "footer/site-footer" . }}
  
  {{/* CSS-only site - no JavaScript needed for core functionality */}}
  
</body>
</html>