@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('/fonts/NotoSansMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Noto Sans', sans-serif;
}

code {
  font-family: 'Noto Sans Mono', monospace;
}