.markdown {
  // {{< expand "Label" "icon" >}}
  .expand {
    margin-top: $spacing-4;
    margin-bottom: $spacing-4;

    border: 1px solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    .expand-head {
      background: var(--gray-100);
      padding: $spacing-2 $spacing-4;
      cursor: pointer;
    }

    .expand-content {
      display: none;
      padding: $spacing-4;
    }

    input[type="checkbox"]:checked + .expand-content {
      display: block;
    }
  }

  // {{< tabs >}}
  .tabs {
    margin-top: $spacing-4;
    margin-bottom: $spacing-4;

    border: 1px solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      padding: $spacing-2 $spacing-4;
      border-bottom: 1px transparent;
      cursor: pointer;
    }

    .tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      border-top: 1px solid var(--gray-100);
      padding: $spacing-4;
      display: none;
    }

    input[type="radio"]:checked + label {
      border-bottom: 1px solid var(--color-link);
    }
    input[type="radio"]:checked + label + .tabs-content {
      display: block;
    }
    input[type="radio"]:focus + label {
      @include outline;
    }
  }

  // {{< columns >}}
  .columns {
    margin-left: -$spacing-4;
    margin-right: -$spacing-4;

    > div {
      margin: $spacing-4 0;
      min-width: $body-min-width * 0.66;
      padding: 0 $spacing-4;
    }
  }

  // {{< button >}}
  a.shortcode-btn {
    display: inline-block;
    font-size: $font-size-14;
    color: var(--color-link);
    line-height: $spacing-4 * 2;
    padding: 0 $spacing-4;
    border: 1px solid var(--color-link);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  // {{< hint >}}
  .hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: $color;
        background-color: rgba($color, 0.1);
      }
    }
  }
}
