{{/* layouts/partials/breadcrumbs-schema.html */}}
{{- if not .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ "/" | absURL }}"
    }{{- $pos := 2 -}}
      {{- $parent := .Parent -}}
      {{- range seq 1 5 }}
        {{- if not $parent }}{{- break }}{{- end }}
    , {
      "@type": "ListItem",
      "position": {{ $pos }},
      "name": "{{ $parent.Title }}",
      "item": "{{ $parent.Permalink }}"
    }{{- $pos = add $pos 1 -}}
        {{- $parent = $parent.Parent -}}
      {{- end }}
    , {
      "@type": "ListItem",
      "position": {{ $pos }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{- end }}