<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }} | Code Monkey Cybersecurity</title>
<meta name="description" content="{{ .Params.description | default "Cybersecurity with Humans" }}">

<link rel="stylesheet" href="/assets/openColour/open-color.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="icon" type="image/png" href="/assets/images/favicon-circular-128x128.png">
<script defer src="https://u.cybermonkey.dev/script.js" data-website-id="970ff30a-ab5d-4c66-8f77-55cafc76083c"></script>