{{/* layouts/partials/nav.html */}}
<aside class="book-menu" role="navigation" aria-label="Main menu">
  <div class="book-menu-content">
    <a class="book-brand" href="/">Code Monkey Cybersecurity</a>

  <ul class="book-nav">
    {{- range sort .Site.Sections "Weight" -}}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{- with .Sections }}
        <ul class="book-nav--nested">
          {{- range sort . "Weight" -}}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{- end }}
        </ul>
        {{- end }}
      </li>
    {{- end }}
  </ul>

    <div class="book-search">
      <input type="text"
             id="site-search"
             placeholder="Search..."
             aria-label="Search site" />
      <ul id="search-results"></ul>
    </div>
  </div>
</aside>