services:
    nginx:
      image: nginx:alpine
      container_name: helen-sh
      volumes:
        - ./:/usr/share/nginx/html:ro # Shared webroot for validation
        - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro # Custom NGINX configuration
        - ./certs:/etc/nginx/certs:ro  # SSL certificates
      ports:
        - "80:80"
        - "443:443"
      restart: always
  