# docker-compose.yaml
services:
  nginx:
    image: nginx
    container_name: helen-sh
    volumes:
      - ./:/usr/share/nginx/html:ro # Shared webroot for validation
      - ./nginx.conf:/etc/nginx/nginx.conf:ro # Custom NGINX configuration
    ports:
      - "8081:80"
    restart: always
