{{/*
Button Shortcode
Usage: {{< button href="/link" style="primary" >}}Button Text{{< /button >}}
Styles: primary, secondary, outline, danger
*/}}

{{ $href := .Get "href" | default "#" }}
{{ $style := .Get "style" | default "primary" }}
{{ $target := .Get "target" | default "_self" }}
{{ $class := .Get "class" | default "" }}
{{ $size := .Get "size" | default "normal" }}

<a href="{{ $href }}" 
   target="{{ $target }}" 
   class="btn btn-{{ $style }} btn-{{ $size }} {{ $class }}"
   {{ if eq $target "_blank" }}rel="noopener noreferrer"{{ end }}>
  {{ .Inner | markdownify }}
</a>