/* assets/css/components/note.css */

.note, .warning, .tip {
  padding: 1rem;
  border-left: 6px solid;
  border-radius: 4px;
  margin: 1rem 0;
  font-size: 1rem;
}

.note {
  background: var(--oc-cyan-0);
  border-color: var(--oc-cyan-4);
}
.warning {
  background: var(--oc-yellow-1);
  border-color: var(--oc-yellow-7);
}
.tip {
  background: var(--oc-teal-0);
  border-color: var(--oc-green-4);
}